@using TheBroders.BD.DATA.Entidades

@*<Editform Model="turnoInput" OnValidSubmit="onValidSubmit">*@

<EditForm Model="turnoInput" OnValidSubmit="onValidSubmit">

    <DataAnnotationsValidator />
    <div class="container">
    <div class="form-group">
            <div class="form-outline">
                <label for="floatingInput">ID-CLIENTE</label>
                <InputNumber class="form-control form-control-lg" id="floatingInput" @bind-Value="@turnoInput.ClienteID" />
                <ValidationMessage For="@(() => turnoInput.ClienteID)" />
        </div>
    </div>

        <div div class="form-floating mb-3">
            <div class="form-outline">
                <label for="floatingInput">FECHA</label>
                <InputText class="form-control form-control-lg" id="floatingInput"  @bind-Value="@turnoInput.fecha" />
                <ValidationMessage For="@(() => turnoInput.fecha)" />
        </div>
    </div>
    <div class="form-group">
            <div class="form-outline">
                <label for="floatingInput">HORA</label>
                <InputText class="form-control form-control-lg" id="floatingInput"  @bind-Value="@turnoInput.Hora" />
                <ValidationMessage For="@(() => turnoInput.Hora)" />
        </div>
    </div>

    <br />

    <button class="btn btn-primary" type="submit">Aceptar</button>
    <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
    </div>
</EditForm>



@code {
    [Parameter] public TurnoInput turnoInput { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
}
